In [1]:
%matplotlib inline
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab 
import scipy.stats as stats
#from dotenv import load_dotenv

In [2]:
#load_dotenv()

In [3]:
#os.getenv("DATASET_PATH")

In [4]:
final_df = pd.read_csv('../all_data/all-data-best-city.csv', index_col=0)

In [5]:
#final_df = pd.read_csv(os.getenv("DATASET_PATH"), index_col=0)

In [6]:
final_df.head()

,city_ascii,cost_live_rent_index,purchase_pow_index,country,mean_tmp,std_dev_temp,safety_index,pollution_index,trffic_min_index,lat,lng
0,Honolulu,80.4,74.4,United States,25.441667,1.837220,52.6,37.0,41.5,21.3294,-157.8460
1,Seattle,83.4,108.4,United States,11.316667,5.142662,45.7,34.7,46.9,47.6211,-122.3244
2,Canberra,69.1,69.1,Australia,13.141667,5.418396,72.0,26.1,43.3,-35.2931,149.1269
3,Adelaide,64.6,67.3,Australia,17.208333,4.416798,66.7,27.1,45.1,-34.9275,138.6000
4,Boston,82.0,106.6,United States,12.063636,8.341855,59.6,32.3,46.5,42.3188,-71.0852

In [7]:
final_df.columns

Index(['city_ascii', 'cost_live_rent_index', 'purchase_pow_index', 'country',
       'mean_tmp', 'std_dev_temp', 'safety_index', 'pollution_index',
       'trffic_min_index', 'lat', 'lng'],
      dtype='object')

In [8]:
#final_df = final_df.drop(['rank_cost_living', 'rank_traffic','rank_safety'], axis=1)
#final_df.head()

In [9]:
"""
# Creating the figure for the 9x9 subplots
fig, axis=plt.subplots(4,2,figsize=(30,30))
axis=axis.flatten()  

# Create the list with the x labels' name for the plot
feature_names=list(final_df.columns)
feature_names.remove('country')
feature_names.remove('city_ascii')
feature_names.remove('lat')
feature_names.remove('lng')

# Loop for scatter plot
for i in range(len(feature_names)):
  axis[i].hist(final_df[feature_names[i]])
  axis[i].set_xlabel(feature_names[i],fontsize='x-large')
  axis[i].set_ylabel("# of cities", fontsize='x-large')
  
# Show the plot
plt.show()
"""

'\n# Creating the figure for the 9x9 subplots\nfig, axis=plt.subplots(4,2,figsize=(30,30))\naxis=axis.flatten()  \n\n# Create the list with the x labels\' name for the plot\nfeature_names=list(final_df.columns)\nfeature_names.remove(\'country\')\nfeature_names.remove(\'city_ascii\')\nfeature_names.remove(\'lat\')\nfeature_names.remove(\'lng\')\n\n# Loop for scatter plot\nfor i in range(len(feature_names)):\n  axis[i].hist(final_df[feature_names[i]])\n  axis[i].set_xlabel(feature_names[i],fontsize=\'x-large\')\n  axis[i].set_ylabel("# of cities", fontsize=\'x-large\')\n  \n# Show the plot\nplt.show()\n'

In [10]:
#plt.savefig("hist-feature-plot.pdf")

In [11]:
"""
stats.probplot(final_df['mean_tmp'], dist="norm", plot=pylab)
pylab.show()
"""

'\nstats.probplot(final_df[\'mean_tmp\'], dist="norm", plot=pylab)\npylab.show()\n'

In [12]:
# Define variables for best mean temperature and best std deviation value
best_mean_tmp = 40
best_std_dev_tmp = 10

# Testing for temperature 
final_df['mean_tmp_diff_from_best'] = abs(best_mean_tmp - final_df['mean_tmp'])
final_df['tmp_std_dev_diff_from_best'] = abs(best_std_dev_tmp - final_df['std_dev_temp'])

final_df.head()

,city_ascii,cost_live_rent_index,purchase_pow_index,country,mean_tmp,std_dev_temp,safety_index,pollution_index,trffic_min_index,lat,lng,mean_tmp_diff_from_best,tmp_std_dev_diff_from_best
0,Honolulu,80.4,74.4,United States,25.441667,1.837220,52.6,37.0,41.5,21.3294,-157.8460,14.558333,8.162780
1,Seattle,83.4,108.4,United States,11.316667,5.142662,45.7,34.7,46.9,47.6211,-122.3244,28.683333,4.857338
2,Canberra,69.1,69.1,Australia,13.141667,5.418396,72.0,26.1,43.3,-35.2931,149.1269,26.858333,4.581604
3,Adelaide,64.6,67.3,Australia,17.208333,4.416798,66.7,27.1,45.1,-34.9275,138.6000,22.791667,5.583202
4,Boston,82.0,106.6,United States,12.063636,8.341855,59.6,32.3,46.5,42.3188,-71.0852,27.936364,1.658145

In [13]:
final_df.columns

Index(['city_ascii', 'cost_live_rent_index', 'purchase_pow_index', 'country',
       'mean_tmp', 'std_dev_temp', 'safety_index', 'pollution_index',
       'trffic_min_index', 'lat', 'lng', 'mean_tmp_diff_from_best',
       'tmp_std_dev_diff_from_best'],
      dtype='object')

In [14]:
# Min-Max Scaling all our indexes
final_df['scaled_cost_live_rent_index'] = 1 - ( (final_df['cost_live_rent_index'] - final_df['cost_live_rent_index'].min()) /
                                           (final_df['cost_live_rent_index'].max() - final_df['cost_live_rent_index'].min()) )
final_df['scaled_purchase_pow_index'] = ( (final_df['purchase_pow_index'] - final_df['purchase_pow_index'].min()) /
                                           (final_df['purchase_pow_index'].max() - final_df['purchase_pow_index'].min()) )
final_df['scaled_safety_index'] = ( (final_df['safety_index'] - final_df['safety_index'].min()) /
                                           (final_df['safety_index'].max() - final_df['safety_index'].min()) )
final_df['scaled_pollution_index'] = 1 - ( (final_df['pollution_index'] - final_df['pollution_index'].min()) /
                                           (final_df['pollution_index'].max() - final_df['pollution_index'].min()) )
final_df['scaled_trffic_min_index'] = 1 - ( (final_df['trffic_min_index'] - final_df['trffic_min_index'].min()) /
                                           (final_df['trffic_min_index'].max() - final_df['trffic_min_index'].min()) )
final_df['scaled_mean_tmp_diff_from_best'] = 1 - ( (final_df['mean_tmp_diff_from_best'] - final_df['mean_tmp_diff_from_best'].min()) /
                                           (final_df['mean_tmp_diff_from_best'].max() - final_df['mean_tmp_diff_from_best'].min()) )
final_df['scaled_tmp_std_dev_diff_from_best'] = 1 - ( (final_df['tmp_std_dev_diff_from_best'] - final_df['tmp_std_dev_diff_from_best'].min()) /
                                           (final_df['tmp_std_dev_diff_from_best'].max() - final_df['tmp_std_dev_diff_from_best'].min()) )

final_df = final_df.drop(['cost_live_rent_index', 'purchase_pow_index', 'safety_index', 'pollution_index',
                          'trffic_min_index', 'mean_tmp_diff_from_best','tmp_std_dev_diff_from_best'],
                         axis=1)
final_df.head()

,city_ascii,country,mean_tmp,std_dev_temp,lat,lng,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp_diff_from_best,scaled_tmp_std_dev_diff_from_best
0,Honolulu,United States,25.441667,1.837220,21.3294,-157.8460,0.119138,0.464207,0.517190,0.730670,0.551064,0.837757,0.154520
1,Seattle,United States,11.316667,5.142662,47.6211,-122.3244,0.081115,0.715129,0.414051,0.760309,0.436170,0.112158,0.509805
2,Canberra,Australia,13.141667,5.418396,-35.2931,149.1269,0.262357,0.425092,0.807175,0.871134,0.512766,0.205908,0.539442
3,Adelaide,Australia,17.208333,4.416798,-34.9275,138.6000,0.319392,0.411808,0.727952,0.858247,0.474468,0.414812,0.431785
4,Boston,United States,12.063636,8.341855,42.3188,-71.0852,0.098859,0.701845,0.621824,0.791237,0.444681,0.150529,0.853669

In [15]:
final_df.describe()

,mean_tmp,std_dev_temp,lat,lng,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp_diff_from_best,scaled_tmp_std_dev_diff_from_best
count,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000
mean,16.929022,5.456515,26.269406,6.210760,0.570639,0.418397,0.553281,0.540156,0.613195,0.400463,0.543025
std,5.668299,2.354963,28.471539,79.900214,0.238457,0.238509,0.224254,0.270383,0.194713,0.291180,0.252120
min,9.133333,0.399621,-41.288900,-157.846000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.051894,3.910059,19.344000,-71.704325,0.374842,0.183948,0.414051,0.338918,0.501596,0.149926,0.377319
50%,15.822500,5.658067,36.896650,16.177900,0.631179,0.432472,0.546338,0.553479,0.627660,0.343622,0.565203
75%,20.875000,7.495350,45.477400,50.223625,0.777250,0.603321,0.732063,0.776740,0.764894,0.603168,0.762683
max,28.600000,10.296734,59.950000,174.777200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min

In [17]:
# prep data
train_df = final_df.drop(['mean_tmp','std_dev_temp','lat','lng','country'],axis=1)
train_df = train_df.set_index('city_ascii')
train_df.head()

,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp_diff_from_best,scaled_tmp_std_dev_diff_from_best
city_ascii,,,,,,,
Honolulu,0.119138,0.464207,0.517190,0.730670,0.551064,0.837757,0.154520
Seattle,0.081115,0.715129,0.414051,0.760309,0.436170,0.112158,0.509805
Canberra,0.262357,0.425092,0.807175,0.871134,0.512766,0.205908,0.539442
Adelaide,0.319392,0.411808,0.727952,0.858247,0.474468,0.414812,0.431785
Boston,0.098859,0.701845,0.621824,0.791237,0.444681,0.150529,0.853669

In [ ]:
# Import the necessary libraries
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# Specify the columns you want to include
columns = ['column1', 'column2', 'column3']  # replace with your column names

# Select only these columns from the DataFrame
selected_df = df[columns]

# Convert DataFrame to NumPy array
data = selected_df.values

# Calculate the Within-Cluster-Sum of Squared Errors (WSS) for different values of k
wss = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=0)
    kmeans.fit(data)
    wss.append(kmeans.inertia_)

# Plot the Elbow Method graph
plt.plot(range(1, 11), wss)
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WSS')
plt.show()

In [18]:
# Convert DataFrame to NumPy array
data = train_df.values

# Run K-Means clustering
k = 3
kmeans = KMeans(n_clusters=k).fit(data)

# For a new point
new_point = np.array([[0/5,0/5,5/5,0/5,0/5,0/5,0/5]])

# Find the cluster for the new point
new_point_label = kmeans.predict(new_point)

# Get all points from this cluster
points_in_cluster = data[np.where(kmeans.labels_ == new_point_label[0])]

# Find the closest points
distances = np.linalg.norm(points_in_cluster - new_point, axis=1)
closest_points = points_in_cluster[np.argsort(distances)[:10]]

/home/ashutosh/.local/share/virtualenvs/py_main_env-PvkzhTzV/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [19]:
print(closest_points)

[[0.7756654  0.32767528 0.68460389 0.4871134  0.36382979 0.19129159
  0.52525591]
 [0.82129278 0.14464945 0.50971599 0.31958763 0.33829787 0.24357877
  0.66656648]
 [0.65779468 0.38302583 0.84155456 0.43556701 0.68510638 0.13299087
  0.62223283]
 [0.51330798 0.35202952 0.46487294 0.39175258 0.60851064 0.31164384
  0.63532432]
 [0.40684411 0.29372694 0.4573991  0.33634021 0.65957447 0.19820205
  0.78412035]
 [0.65652725 0.31881919 0.7877429  0.26546392 0.41702128 0.38912671
  0.88246562]
 [0.71229404 0.09298893 0.84155456 0.28092784 0.59148936 0.19135274
  0.87226326]
 [0.68821293 0.14464945 0.29446936 0.29510309 0.62765957 0.28767123
  0.46396508]
 [0.75538657 0.29520295 0.80269058 0.23195876 0.56382979 0.14585928
  0.85860099]
 [0.626109   0.23911439 0.38714499 0.60309278 0.60638298 0.38827055
  0.44016242]]

In [20]:
mask = train_df.apply(lambda row: row.values in closest_points, axis=1)
closest_df = train_df[mask]
closest_df.head()

,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp_diff_from_best,scaled_tmp_std_dev_diff_from_best
city_ascii,,,,,,,
San Diego,0.083650,0.662731,0.612855,0.664948,0.627660,0.447346,0.279353
Milan,0.406844,0.293727,0.457399,0.336340,0.659574,0.198202,0.784120
Rome,0.513308,0.352030,0.464873,0.391753,0.608511,0.311644,0.635324
Montevideo,0.626109,0.239114,0.387145,0.603093,0.606383,0.388271,0.440162
Santiago,0.688213,0.144649,0.294469,0.295103,0.627660,0.287671,0.463965

In [21]:
closest_df.head(20)

,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp_diff_from_best,scaled_tmp_std_dev_diff_from_best
city_ascii,,,,,,,
San Diego,0.083650,0.662731,0.612855,0.664948,0.627660,0.447346,0.279353
Milan,0.406844,0.293727,0.457399,0.336340,0.659574,0.198202,0.784120
Rome,0.513308,0.352030,0.464873,0.391753,0.608511,0.311644,0.635324
Montevideo,0.626109,0.239114,0.387145,0.603093,0.606383,0.388271,0.440162
Santiago,0.688213,0.144649,0.294469,0.295103,0.627660,0.287671,0.463965
Warsaw,0.657795,0.383026,0.841555,0.435567,0.685106,0.132991,0.622233
Mexico City,0.688213,0.182288,0.212257,0.161082,0.308511,0.431935,0.148251
Bucharest,0.755387,0.295203,0.802691,0.231959,0.563830,0.145859,0.858601
Guadalajara,0.737643,0.219926,0.294469,0.411082,0.557447,0.604452,0.215864
Belgrade,0.719899,0.163838,0.642750,0.336340,0.668085,0.175086,0.820112
Shanghai,0.656527,0.318819,0.787743,0.265464,0.417021,0.389127,0.882466
Rio de Janeiro,0.775665,0.075277,0.065770,0.338918,0.344681,0.752568,0.162515
Tbilisi,0.712294,0.092989,0.841555,0.280928,0.591489,0.191353,0.872263
Johannesburg,0.812421,0.559410,0.017937,0.420103,0.563830,0.328767,0.337376
Lima,0.808619,0.115867,0.162930,0.096649,0.363830,0.514983,0.216004
Moscow,0.775665,0.327675,0.684604,0.487113,0.363830,0.191292,0.525256
Istanbul,0.821293,0.144649,0.509716,0.319588,0.338298,0.243579,0.666566

In [22]:
closest_df.shape

(17, 7)